@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Mayank's .NET Test Website.</h1>
    <p>Learn more about Mr. Mayank please visit <a href="https://mayank.nl"></a>.</p>
    <p><b><i>More content will be added soon.</i></b></p>
</div>
